@import '_variables.scss';


.introduction{    
    .about{
        display: flex;
        flex-direction: row;

        img{
            align-self: baseline;
            margin-right: 25px;
        }
    }
    .technologies{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tech-list {
            ul{
                display: inline-table;
            }
            
            li{
                font-weight: bold;
                color: $gray;
            }
        }

        .tech-list > *{
            margin-right: 15px;
        }

        .tech-list ul:last-child{
            margin-right: 0px;
        }
        
    }
}


@media (max-width: $tablet){
    .introduction{
        .about{
            flex-direction: column;

            img{
                align-self: center;
                margin-right: 0;
                margin-bottom: 25px;
            }
            
        }
    }
}