@import '_variables.scss';

.project-card{
    border: none;
    padding: 20px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    max-height: 500px;
    max-width: 388px;

    .project-title{
        color: $primary;
        font-weight: bold;
        margin: 0;
    }

    .project-img{
        margin-bottom: 11px;
    }

    .card-tech-list > *{
        margin-right: 10px;
        color: $gray;
    }
}

@media (max-width: $laptop-sm) {
    .project-card{
        max-width: 311px;
    }
}

@media (max-width: $tablet) {
    .project-card{
        max-width: 350px;
    }
}

@media (max-width: $mobile-lg) {
    .project-card{
        max-width: 100%;
        max-height: none;
    }
}